

html, body {
    margin: 0 1em;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@font-face {
    src: url("sternbach-bold-italic.otf");
    font-family: Sternbach;
}

h1,
.fighter-level,
.fighter-name {
    text-align: center;
}

h1 {
    margin-bottom: 0;
    font-size: 1.2rem;
    color: #AC485A;
}


.fighter-level {
    font-size: 1rem;
    font-weight: bold;    
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));;
    grid-gap: 6vw;
}

.fighter {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.progress-bar-container {
    height: 25vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #e3e1e1;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0px 4px 8px 0px #5e1d28;
}

.fighter-progress-bar {
    background: #AC485A;
    height: 0;
    margin: auto 0 0;
    border-radius: 4px 4px 0 0;
    color: white;
    text-align: center;
    padding-top: .4em;
}

.low-progress-bar-exp {
    text-align: center;
    margin-top: auto;
    font-weight: 500;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: 1em 0;
}

.fighter-img {
    max-width: 5em;
    max-height: 5em;
}


.fighter-name {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 1rem;
    border-radius: 8px;
    font-size: 20px;
    width: 60%;
    /* box-shadow: inset 0px 2px 6px 0px #5e1d28; */
}

.toggle-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5em 0 1em;
}

.num-classes {
    margin-top: .2em;
    color: #AC485A;
    font-weight: 500;
    font-size: .8rem;
}

.toggle-btn {
    width: 2.5rem;
    max-width: 80px;
    height: 2.5rem;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    border: none;
    color: white;
    font-size: 30px; 
    text-align: center;
    cursor: pointer;
}

.toggle-btn-plus {
    margin-left: 1rem;
    background-color: #119c13;
    box-shadow: 0 4px 8px #013002;
    }
    
.toggle-btn-plus:hover {
    box-shadow: 0 8px 12px #013002;
    position: relative;
    bottom: 2px;
    }

.toggle-btn-neg {
    margin-left: auto;
    background-color: #7d7c7c;
    box-shadow: 0 4px 8px #403f3f;
}

.toggle-btn-neg:hover {
    box-shadow: 0 8px 12px #403f3f;
    position: relative;
    bottom: 2px;
    }

.toggle-btn-plus:active {
    box-shadow: 0 2px 4px #013002;
    position: relative;
    outline: none;
    top: 2px;
    }
    
.toggle-btn-neg:active {
    box-shadow: 0 2px 4px #403f3f;
    position: relative;
    outline: none;
    top: 2px;
    }


.disabled {
  pointer-events: none;
  background-color: #cccccc;
  box-shadow: none;
  position: relative;
  top: 2px;
}

.disabled:focus,
.disabled:active,
.disabled:hover {
    outline: none;
    box-shadow: none;
}

@media (min-width: 448px){
    .container {
    grid-gap: 1em 6vw;
    }
}

@media (min-width: 680px){
    .title-container {
        margin: 1em 0 .5em;
    }
}

@media (min-width: 948px){
    .title-container {
        margin: 2em 0 1em;
    }
    .container {
        margin-top: 3vh;        
    }
    h1 {
        padding-bottom: 1vw;
    }
}   